@import "bootstrap-sprockets";
@import "bootstrap";

body{
    background-color:#707070 ;
}

.track {
  background: #7FFF00;
  height: 75px;
  text-align: left;
  position: relative;
}

.clip {
  position: absolute;
  opacity: 0.9;
  height: 100%;
  left: 0;
  top: 0;
}

.dragover {
  background: #CCCCCC;
}
