@import "bootstrap-sprockets";
@import "bootstrap";

body{
    background-color:#707070 ;
}

.drop-box {
  background: #7FFF00;
  width: 90%;
  height: 100px;
  text-align: center;
  padding-top: 5px;
  margin: 5%;
}
.dragover {
  background: #37FDFC;
}
