
<div>
    <div class="row-fluid">
        <div class="col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Audio Files
                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="file in audioFiles" ng-click="playSound(file.buffer)">
                        {{"Audio File: "+file.file_name}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
            <div class="panel-heading">
                <h1>{{"DAW"}}</h1>
            </div>
            <br/>
            <div class="alert alert-info alert-dismissable col-md-12" role="alert">
                {{message}}
            </div>
            <br/>
            Drop Audio here
            <div ng-file-drop ng-model="file" class="drop-box" ng-model-rejected="rejectedFiles"
                 drag-over-class="dragover" ng-multiple="true" allow-dir="true"
                 accept=".mp3">
                <div ng-repeat="file in files">
                    {{file.name}}
                </div>
            </div>
            <div ng-no-file-drop>File Drag/Drop is not supported for this browser</div>
        </div>
        </div>
    </div>
</div>