
<div us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner" spinner-start-active="true"></div>
<div ng-file-drop ng-model="file"
     drag-over-class="dragover" ng-multiple="true" allow-dir="true"
     accept=".mp3,.m4a" >
    <br/>
    <div class="row-fluid">
        <div class="col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Audio Files
                </div>
                <div class="list-group">
                    <a class="list-group-item btn dl-horizontal" ng-repeat="audioFile in audioFiles" ng-click="playFile(audioFile)" ng-drag="true" ng-drag-data="audioFile">
                        <dt class="pull-left">
                            {{audioFile.file_name}}
                        </dt>
                        <dd>
                            <button type="button" ng-click="deleteAudio(audioFile)" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </dd>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>{{"DAW"}}</h1>
                        <div class="btn-group" role="group">
                            <button class="btn btn-default" ng-click="play()">
                                <span class="glyphicon glyphicon-play"></span>
                            </button>
                            <button class="btn btn-default" ng-click="pause()">
                                <span class="glyphicon glyphicon-pause"></span>
                            </button>
                            <button class="btn btn-default" ng-click="stop()">
                                <span class="glyphicon glyphicon-stop"></span>
                            </button>

                            <input class="form-control" type="text" ng-model="firebaseData"/>
                            <button ng-click="setNewFirebaseData()">set</button>
                            <div ng-repeat="message in messages">
                                <h6>{{message.from}}</h6>
                                {{message.body}}
                            </div>
                        </div>

                        <div class="timeLabel">

                        </div>
                    </div>
                    <div>
                        <div class="row-fluid">
                            <div class="col-md-offset-1 col-md-11" id="drag-marker-container">
                                <div id="drag-marker"/>
                            </div>
                        </div>
                        <div ng-repeat="track in tracks" class="row-fluid panel-success">
                            <div class="col-md-1">
                                Track {{ track.key }}
                                <br/>
                                <button class="btn btn-danger" type="button" ng-click="removeTrack(track)">Delete</button>
                            </div>
                            <div ng-drop="true" class="track col-md-11" ng-drop-success="onSoundDrop($data,$event,track)">
                                <div class="marker"/>
                                <canvas ng-repeat="clip in track.clips" id="{{clip.clip_id}}" class="panel clip" width="{{zoomCoefficient * clip.length}}" height="71"></canvas>
                            </div>

                        </div>
                        <button class="btn btn-default" type="button" ng-click="addTrack()">Add Track</button>
                    </div>
                </div>
        </div>
    </div>
</div>