<div ng-controller="homeCtrl" ng-init="getData()">
<!--MODAL CODE-->


  
<div class="container">
              <div id="sidebar-wrapper">
              <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       Projects
                    </a>
                </li>
                <li>
                    <a href="#">Project 1</a>
                </li>
                <li>
                    <a href="#">Project 2</a>
                </li>
                <li>
                    <a href="#">Project 3</a>
                </li>
                <li>
                    <a href="#">Project 4</a>
                </li>
                <li>
                    <a href="#">Project 5</a>
                </li>
              
            </ul>
        </div>
      
      <div class="row">
        <form editable-form name="editableForm" onaftersave="saveUser()">

        <!--Code for the Profile Information-->
        <div class="roles col-xs-10 col-sm-10 col-md-4 col-lg-4 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><a href="{currentuser.page}}" editable-text="currentuser.name" e-required>{{currentuser.name}}</a></h3>
            </div>

            <div class="panel-body">
              <div class="row">
                <div class="col-md-12 col-lg-12 " align="center"> <img alt="User Pic" src="{{currentuser.image}}" class="img-circle"> </div>
                
         
                <div class=" col-md-12 col-lg-12 " align="center"> 
                 <p class="tagline" align="center" editable-text="currentuser.tagline" e-name="status"> {{currentuser.tagline|| "In Heaven there is no beer"}}</p>
                  <table class="table table-user-information">
                    <tbody>
                     
                   
                     <!-- <tr>
                        <td><label>Date of Birth</label></td>
                        <td><span editable-bsdate="currentuser.dob" e-datepicker-popup="MM-dd-yyyy">
                        {{ (currentuser.dob | date:"MM/dd/yyyy") || 'empty' }}
                        </span> </td>
                      </tr>!-->
                   
                         <tr>
                             <tr>
                        <td><label>Gender</label></td>
                        <td>{{currentuser.sex}}</td>
                      </tr>
                        <tr>
                        <td><label>Location</label></td>
                        <td><span editable-text="currentuser.location" e-required>{{currentuser.location||"empty"}}</span></td>
                      </tr>
                      <tr>
                        <td><label>Email<label></td>
                        <td><a href="mailto:{{currentuser.email}}" editable-text="currentuser.email">{{currentuser.email}}</a></td>
                      </tr>
                   
                           
                      </tr>
                     
                    </tbody>
                  </table>
                  
                 
                </div>
              </div>

            </div>
                 <div class="panel-footer">
                   <div class="buttons" >
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-plus"></i></a>
                        
                        <span class="pull-right" ng-show="showEditButton">
                          <!--button to show form-->
                            <a data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning" ng-click="editableForm.$show()" ng-show="!editableForm.$visible"><i class="glyphicon glyphicon-edit"></i></a>
                            

                            <!-- buttons to submit / cancel form -->
      <span ng-show="editableForm.$visible">
         <button data-original-title="Accept Changes" data-toggle="tooltip" type="submit" class="btn btn-sm btn-default" ng-disabled="editableForm.$waiting"><i class="glyphicon glyphicon-thumbs-up"></i></a>
        
        <button data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()"><i class="glyphicon glyphicon-remove"></i></a>
      </span>
                        </span>
                      </div>
                    </div>
            
          </div>
        </div>
        </form>
        <!--Code for Bands Section-->
         <div class="roles col-xs-10 col-sm-10 col-md-4 col-lg-4 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Bands associated with</h3>
            </div>

            <div class="panel-body">
                <!--Repeat the div below for multiple bands-->

             
                <div ng-repeat="artist in artistList" class="dis-image col-md-2 col-lg-2 wiggle" align="center" ng-click="artistAction($event);$event.preventDefault()" id="{{artist.id}}"> <img alt="User Pic" src="{{artist.image}}" class="img-thumbnail"></div>
                 
            </div>
                 <div class="panel-footer">
                 <div class="buttons" ng-show="showEditButton">

<!--MODAL-->
                     
    

                        <!--Button to add new bands-->
                        <a type="button" class="btn btn-sm btn-primary" ng-click="toggleModal()" ><i class="glyphicon glyphicon-plus"></i></a>

                        <!--Create band modal-->
                        
                      
                     

                  <span class="pull-right" ng-show="showEditButton">
                          <!--HTML to make bands -->
                            <a data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning" ng-click="classyWiggle()"div ng-show="!artistEdit"><i class="glyphicon glyphicon-edit"></i></a>
                            

                            <!-- buttons to submit / cancel form -->

      
         <button data-original-title="Accept Changes" data-toggle="tooltip" type="submit" class="btn btn-sm btn-default" ng-click="classyWiggle()" ng-show="artistEdit"><i class="glyphicon glyphicon-thumbs-up"></i></a></button>
        
                        </span>
                      </div>
                    </div>
                    </div>

          <!--Create bands-->
           
   
   
          <div class="panel panel-info" ng-show="showModal" data-ng-controller="createArtistCtrl">
        
            <div class="panel-heading">
              <h3 class="panel-title">Create a band</h3>
            </div>

            <div class="panel-body">
              <div class="row" >
              <form name="userForm" novalidate class="css-form">
               
                
                
                <div class=" col-md-12 col-lg-12 " align="center"> 
                 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                      <tr>
                        <td><label>Name</label></td>
                        <td><input type="text" name="name" ng-model="userData.name" required/></td>
                      </tr>
                      <tr>
                        <td><label>ImageURL</label></td>
                        <td><input type="url" name="image" ng-model="userData.image" required/></td>
                        
                      </tr>
                      <tr>
                        <td><label>Tagline</label></td>
                        <td><input type="text" name="tagline" ng-model="userData.tagline" required/></td>
                      </tr>
                      <tr>
                        <td><label>Genre</label></td>
                        <td><input type="text" name="genre" ng-model="userData.genre" required/></td>
                      </tr>
                      <tr>
                        <td><label>Location</label></td>
                        <td><input type="text" name="location" ng-autocomplete="userData.location" ng-model="userData.location" required/></td>

                      </tr>
                      <tr>
                        <td><label>Page<label></td>
                        <td><input type="url" name="page" ng-model="userData.page" required/></td>
                        
                      </tr>
                   
                           
                      </tr>
                     
                    </tbody>
                  </table>
                  </form>
                </div>
              </div>

            </div>
                 
            
                 <div class="panel-footer">
                 <button data-original-title="Accept Changes" data-toggle="tooltip" type="submit" class="btn btn-sm btn-default" ng-click="processForm(userForm)"><i class="glyphicon glyphicon-thumbs-up"></i></button>
        
        <button data-original-title="Cancel Creation" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger" ng-disabled="createBandForm.$waiting" ng-click="cancel(userForm)"><i class="glyphicon glyphicon-remove"></i></button>

        <button data-original-title="Reset the form" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning" ng-disabled="createBandForm.$waiting" ng-click="reset(userForm)"><i class="glyphicon glyphicon-off"></i></button>
        
                 </div>
                 </div>
          <!--Create bands end-->


          </div>
        </div>
      </div>

    </div>

</div>

